.boardList {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

.headerText {
    font-weight: 700;
    font-size: large;
}

.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 3px;
    transition: all 150ms;
    box-shadow: 0px 1px 2px gray;
    margin: 0px 5px;
}

input:checked {
    background: url('../res/checked.svg') white no-repeat center;
    align-content: center;
}